body {
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

#app {
    margin: 20px;
}

#question-container {
    margin: 20px 0;
}

#question {
    font-size: 1.2em;
}

#answers {
    margin: 10px 0;
}

#answers div {
    margin: 10px 0;
}

.correct {
    background-color: #d4edda;
}

.incorrect {
    background-color: #f8d7da;
}

#mode-selection {
    margin: 20px 0;
}

#summary {
    margin: 20px 0;
}

#admin-container {
    margin-top: 50px;
}

#question-form textarea, #question-form input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}
